body {
    background-image: url("github-octocat.png");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
    opacity: 0.9;
}

#word {
    display: inline; 
    border-radius: 2px; 
    border: 1px solid #fff; 
}
